
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}


// Variables
$red:#EB1D23;
$darkerred:#D61900;
$black: black;
$white: white;
$fs1: 1.25rem;
$fs2: 1.5rem;
$fs3:1.75rem;
$fs4: 2rem;
$fw2:200;
$fw3:300;
$fw4:400;
$fw5:500;
$pad1:0.5rem;
$pad2:1rem;
$pad3:1.5rem;
$pad4:2rem;
$max-width-1: 600px;
$max-width-2:900px;
$max-width-3: 1000px;







.cheong-machinery{
    width: 100%;

    // Header
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $pad2; 
        row-gap: $pad1;
        

        // Logo
        .logo{
            width: 100px;

        }


        // Navbar
        .navbar{
            
            background-color: $darkerred;
            width: 100%;

            .container{
                display: flex;
                justify-content: space-around;
                max-width: $max-width-1;
                margin-inline: auto;
                width: 100%;
                padding: $pad1 0;

                a{
                    color: $white;
                    text-decoration: none;
                    text-transform: capitalize;
                    padding: 0.2rem;
                    border-bottom: 2px solid $white;
                    border-radius: 1px;
                    font-weight: $fw5;
                }

            }
        }
    
    // Header
    }


    .hero{
        background-image: url("https://images.pexels.com/photos/7245333/pexels-photo-7245333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: $pad4 0;
        width: 100%;
        height: 70vh;

        

        .container{
            $sec1-c-dim: 350px;
            background-color: rgba($color: white, $alpha: 0.8);
            padding: $pad2;
            border-radius: 20px;
            width: 80%;
            margin-inline: auto;
            max-width: $max-width-1;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: $pad1;
            margin-top: 10%;

            .logo{
                width: 100%;
                max-width: 400px;
            }
    
            p{
                text-align: center;
                font-weight: $fw5;
                
            }
        }

    // hero
    }




    .services{
        // background-color: rgba(rgb(98, 98, 255), 0.7);
        padding: 2rem;
        .container{


            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $pad1;
            row-gap: $pad2;


            h2{
                text-align: center;
            }


            .service-list{
                display: flex;
                flex-direction: column;
                row-gap: $pad2;


                .list-item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: $pad1;
                    // border: 1px solid black;
                    padding: $pad1 0;
                    width: 90%;
                    margin: 0 auto;
                    border-radius: 20px;

                    img{
                        width: 30px;
                    }

                    p{
                        text-align: center;
                    }
                }

            }


        }




    // Services
    }



    .about-us{

        background-image: url("https://images.pexels.com/photos/4170184/pexels-photo-4170184.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        .container{
            background-color: rgba($color: black, $alpha: 0.8) ;
            color:white;
            display:flex;
            flex-direction: column;
            row-gap: $pad3;
            padding: $pad2;
            

            h2{
                margin-left: 20%;
            }

            .section{
                border: white solid 4px;
                // padding: $pad1;
                margin-inline: auto;
                max-width: $max-width-1;


                h3{
                    background-color: $red;
                    padding: $pad2;
                }

                p{
                    padding: $pad2;
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    padding: $pad2;
                    row-gap: $pad2;
                }

                li{
                    list-style-type: none ;
                }
            }

        }

    // About us
    }


    



    .contact-info{

        display: flex;
        flex-direction: column;
        row-gap: $pad2;
        align-items: center;
        width: 90%;
        margin: $pad2 auto;
        // border: #D61900 2px solid;
        padding: $pad2;
        font-weight: 500;
        max-width: $max-width-2;
        border-radius: 20px;
        // background-color: rg;

        .section{

            display: flex;
            column-gap: 1rem;
            align-items: center;
            align-self: start;
            padding: 0 5%;


            .icon{
                width: 32px;
                height: 32px;

            }
            
            .info{
                max-width: 100%;
                word-break: break-all;
                
            }
        }




        .map{
            width: 100%;
            

            .map-frame{
                width:100%;               
                // margin: 0 auto;

            }
        }
    }




    // contact-us
    .contact-us{

        background-color: $red;
        width: 80%;
        margin: $pad2 auto;
        border-radius: 10px;
        padding: $pad2;
        max-width: 700px;
        color: white;
        display: flex;
        flex-direction: column;
        row-gap: $pad2;
        

        h3{
            align-self: center;
        }

        input, textarea{
            align-self: flex-start;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            margin-left: 5%;
            width: 60%;
        }
        
        #contact-us-message{
            height: 100px;
            width: 80%;
            overflow-wrap: break-word;

        }

        button{
            width: min-content;
            align-self: center;
            padding: 0.2rem $pad2;
            font-weight: 500;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
        }


    // contact-us
    }






// Cheong Machinery
}